include _mixin_form
include _mixin_buttons
include _mixin_media
include _mixin_rating

div.asset-basic(ng-controller='Site.Welcome' layout='column')
	div asset-basic.jade
	form(name="test" action='asset-basic', method='put' ng-repeat='asset in assets')

		div(layout='row' layout-align='center start' )
			div(flex='20')
				+media('medium-image')
				+stars()
			div(flex='40')
				+input('text','asset.title', null, null)
				+input('date','asset.date', null, null)
				+input('textarea','asset.description', null, null)
				+input('chip','asset.category', '_sys.visibility', null)
				+input('radio','asset.visibility', '_sys.visibility', null)
				+input('select','asset.license', '_sys.licenses' ,null)
				+input('checkbox','asset.category', '_sys.categories' ,null)
			div(flex='5')
			div(flex='35')
				// just our mixin declares so its easier later.
				div mixin input(field_type, field_key, resource_list, sys_val)
					li field_type > file
					li field_type > slider
					li field_type > textarea
					li field_type > checkbox
					li field_type > switch
					li field_type > select
					li field_type > radio
					li field_type > chip
					li field_type > autocomplete
					li field_type > text,email,number, etc.
				div mixin button(text, action, style, icon, when)
				div mixin button_fab(text, action, style, icon, when)
				div mixin media(field_type, width, height, clickaction)
				li input[type=color]
				li input[type=date]
				li input[type=datetime-local]
				li input[type=datetime]
				li input[type=email]
				li input[type=month]
				li input[type=number]
				li input[type=password]
				li input[type=search]
				li input[type=tel],
				li input[type=text]
				li input[type=time]
				li input[type=url]
				li input[type=week]
				li textarea

		div(layout='row')
			div(flex)
				+button('cancel','put(asset._id)','btn-default btn-small','fa-times', '$scope.form.dirty')
				+button('delete','put(asset._id)','btn-danger btn-small','fa-trash', '$scope.form.dirty')
				+button_fab(null,'put(asset._id)','md-primary','fa-check fa-2x', '$scope.form.dirty')
