include _mixin_form
include _mixin_buttons

md-toolbar.md-medium-tall.md-scroll-shrink(md-scroll-shrink ng-controller='Site.Welcome' style="position:fixed")
	div(layout='column' layout-align='center end' layout-fill)
		div.md-toolbar-tools(layout='row' layout-align='space-between center')
			div(flex layout='row' layout-align='start center')
				div(flex ng-if='!site.logo') {{ site.title }}
				div(flex ng-if='site.logo')
					a(href='/')
						img(src='{{site.logo}}' alt='{{ site.title }}')
				//div(flex ng-if='site.breadcrumb') &nbsp;- {{ site.breadcrumb }}
				div(flex)
					+input('select','CITY', '_sys.cities' ,null, true)
			div(flex layout="row" layout-align="end center" )
				md-menu()
					+button_fab(null,'$mdOpenMenu()','md-accent','fa-reorder')
					md-menu-content(width='4')
						md-menu-item(ng-if="!user.me")
							+button('Login','login()','btn-default btn-small','fa-sign-in','!user.me')
						md-menu-item(ng-if="!user.me")
							+button('Register','register()','btn-default','fa-users','!user.me')
						md-menu-item(ng-if="user.me")
							+button_notranslate('user.me.name','profile()','btn-default','fa-user','user.me')
						md-menu-item.md-menu-item(ng-if="user.me")
							+button('Logout','logout()','btn-default','fa-sign-out','user.me')
						md-menu-item()
							+button_notranslate('site.lang','language()','','fa-language')