extends layout

block content
	#container(ng-view)
		md-content(layout="column" layout-padding flex class="md-padding")
			hr
			include templates/asset-basic
			hr
			include templates/asset-mini
			hr
			include templates/infinitescroll
			hr
			include templates/paged
