extends layout



block content

	#container(ng-view)
		md-content(layout="column" layout-padding flex class="md-padding")
		include templates/asset-welcome

			//include templates/asset-basic

			//include templates/asset-mini

			//include templates/infinitescroll

			//include templates/paged
