doctype html
html(lang='en' ng-app='ito-dataviewer')
	head
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(http-equiv='X-Frame-Options' content='DENY')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
		//base(href='/')
		title ITO-Suite
		link(rel='stylesheet', href='./css/ng-ito-dataviewer.css')

	body(layout='column' spellcheck='false' )

		block content



		footer &copy; ITO-Suite

		scripts
			script(src='/js/ng-ito-dataviewer-dependencies.min.js')
			script(src='/js/ng-ito-dataviewer-frontend.js')